.iconFlag {
    left: 16px;
    top: 12px;
    position: absolute;
    z-index: 1;
}

.currentCountryTitle {
    font-family: FuturaPT-Medium;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.012em;
    color: rgba(166, 177, 220, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 62px;
    background: #161A2A;
    position: relative;
    cursor: pointer;
}

.innerCountryContainer {
    position: absolute;
    width: 100%;
    top: 36px;
    z-index: 2;
    transition: all .3s ease;
    opacity: 0;
    pointer-events: none;
}

.innerCountryContainerOpen {
    opacity: 1 !important;
    pointer-events: auto !important;
    overflow-y: scroll;

    height: 200px;
    pointer-events: auto !important;
    background-color: #22273a;
    overflow-x: hidden;
&::-webkit-scrollbar {
     width: 7px;
     height: 2px;
 }

&::-webkit-scrollbar-thumb {
     background: rgba(166, 177, 220, 0.5);
     border-radius: 10px;
 }

&::-webkit-scrollbar-thumb:hover {
     background: rgb(133, 146, 201);
 }
}


.countryContainer {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    height: 36px;
    width: 50px;
    font-family: FuturaPT-Medium;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    color: rgba(166, 177, 220, 0.5);
    position: relative;
    background: #22273A;
    cursor: pointer;

    &:hover {
        background: rgb(67,73,98);
    }
}

.countryTitle {
    padding-left: 46px;
}

.rotateImg {
    transform: rotateX(180deg);
}

.iconArrowDown {
    top: 15px !important;
    left: 43px;
    transition: all .3s ease;
    position: absolute;
    z-index: 1;
}

.selectorContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 36px;
    cursor: pointer;

}

.selectorContainerActive {
    z-index: 7;
}

.countryNameBlock {
    position: absolute;
    left: 61px;
    width: 173px;
    height: 31px;
}

.countryNameText {
    position: absolute;
    top: 6px;
}
